        @import "./font.scss";
        @import "./header.scss";
        @import "./footer.scss";
        @import "./contact.scss";
        @import "./milestone.scss";
        body,
        html {
            padding: 0;
            margin: 0;
            // font-family: ""Kaushan Script"", cursive;
            font-family: "azo", sans-serif;
            color: #222222;
        }
        
        .mobile {
            display: none;
        }
        
        .container-slider {
            padding-bottom: 10px;
        }
        
        ul {
            list-style: none;
            padding: 0;
        }
        
        // .swiper-pagination {
        //     display: none;
        // }
        .swiper-button-next,
        .swiper-button-prev {
            color: #af3a51;
        }
        
        .swiper-container {
            padding-bottom: 55px;
        }
        
        .swiper-pagination-bullet-active::before {
            content: "";
            position: absolute;
            top: -5px;
            left: -5px;
            height: 20px;
            width: 20px;
            background: transparent;
            border: 3px solid #af3a51;
            border-radius: 20px;
        }
        
        .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 4px;
            position: relative;
            height: 16px;
            width: 16px;
            background: #af3a51;
            opacity: 1;
            margin: 0 6px;
        }
        
        .container-slider img {
            width: 100%;
            display: block;
        }
        
        .home-about-us {
            background: url(/assets/images/background-image.jpg) no-repeat;
            background-size: cover;
            height: 440px;
            margin-bottom: 20px;
            @media screen and (max-width: 768px) {
                height: auto;
            }
            &_text {
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                max-width: 700px;
                padding: 50px;
                a {
                    color: white;
                    text-decoration: none;
                    background: #af3a51;
                    max-width: 150px;
                    margin: auto;
                    padding: 10px;
                }
                a:hover {
                    background: #af3a51;
                }
                h1 {
                    font-weight: 300;
                    font-size: 50px;
                    @media screen and (max-width: 768px) {
                        font-size: 40px;
                    }
                }
                p {
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
        
        .title-general {
            margin: auto;
            padding: 15px;
            text-align: center;
            h1 {
                font-weight: 300;
            }
        }
        
        .product-items-all {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 10px;
            @media screen and (max-width: 768px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 10px;
            }
            a {
                text-decoration: none;
            }
        }
        
        .product-item {
            // margin: 5px;
            img {
                width: 100%;
                display: block;
                object-fit: cover;
            }
            &:hover {
                transform: translateY(-30px);
                transition-delay: 0.2s;
                transition-duration: 0.2s;
                filter: drop-shadow(2px 4px 6px black);
            }
            &-title {
                text-align: center;
                p {
                    background: #af3a51;
                    color: white;
                    margin: 0;
                    padding: 10px;
                }
            }
        }
        
        .home-social {
            background-color: #f7ebed;
            padding-top: 50px;
            padding-bottom: 50px;
            &-all {
                display: flex;
                filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
            }
            &-image {
                flex: 1;
                img {
                    width: 100%;
                    display: block;
                }
            }
            &-context {
                flex: 1;
                background: white;
                text-align: center;
                a {
                    color: white;
                    text-decoration: none;
                    background: #af3a51;
                    max-width: 150px;
                    margin: auto;
                    padding: 10px;
                }
                a:hover {
                    background: #af3a51;
                }
                p {
                    max-width: 600px;
                    margin: auto;
                    padding: 35px;
                    font-weight: 300;
                    @media screen and (max-width: 768px) {
                        max-width: 600px;
                        margin: auto;
                        padding: 60px;
                        font-weight: 300;
                    }
                }
                h1 {
                    font-weight: 300;
                    padding: 15px;
                }
            }
        }
        
        .slider-section img {
            width: 100%;
            display: block;
        }
        
        img.mobil {
            display: none;
        }
        
        .tab-menu ul {
            display: flex;
            justify-content: space-evenly;
            max-width: 1000px;
            margin: auto;
            padding: 30px;
        }
        
        .tab-menu li {
            border-right: 1px solid black;
            padding: 0px 45px 0px 0px;
        }
        
        .tab-menu li a {
            color: #222222;
            text-decoration: none;
        }
        
        .tab-menu a:hover {
            background: #af3a51;
            color: white;
        }
        
        .section-gray {
            display: flex;
            padding-bottom: 5px;
            &-text {
                flex: 1;
                background: #f4f4f4;
                display: flex;
                align-items: center;
                p {
                    max-width: 600px;
                    margin: auto;
                    padding: 65px;
                }
            }
            &-image {
                flex: 1;
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
        
        .section-white {
            display: flex;
            padding-top: 20px;
            padding-bottom: 20px;
            &-image {
                flex: 1;
                img {
                    width: 100%;
                    display: block;
                }
            }
            &-text {
                flex: 1;
                display: flex;
                align-items: center;
                p {
                    max-width: 600px;
                    margin: auto;
                    padding: 65px;
                }
            }
        }
        
        .product-item-all {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 16px;
            padding-bottom: 20px;
            row-gap: 10px;
        }
        
        .products-items-images {
            position: relative;
        }
        
        .products-items-images img {
            width: 100%;
            display: block;
            position: relative;
        }
        
        .products-items-title {
            position: absolute;
            bottom: 0px;
            text-align: center;
            margin: auto;
            width: 100%;
            background: #8f1f1fc2;
        }
        
        .products-items-title p {
            color: white;
            font-size: 18px;
        }
        
        .our-commitment {
            background: #f4f4f4;
            @media screen and (max-width: 425px) {
                display: flex;
                flex-direction: column;
            }
        }
        
        .our-commitment_item {
            display: flex;
            align-items: center;
            padding: 15px;
            @media screen and (max-width: 425px) {
                display: flex;
                align-items: center;
                padding: 15px;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
        }
        
        .our-commitment {
            display: flex;
        }
        
        .our-commitment-all {
            flex: 1;
            padding: 15px;
        }
        
        .our-commitment_item-context {
            padding: 10px;
        }
        
        //MEDİA SCREENS
        @media screen and (max-width:1280px) {
            .footer-all_bottom-links {
                display: flex;
                padding-left: 160px;
            }
            .section-gray-text p {
                max-width: 600px;
                margin: auto;
                padding: 50px;
            }
        }
        
        @media screen and (max-width:1024px) {
            .header__social-all {
                display: none;
            }
            .section-gray-text p {
                max-width: 600px;
                margin: auto;
                font-size: 14px;
                padding: 25px;
            }
            .section-white-text p {
                max-width: 600px;
                margin: auto;
                padding: 25px;
                font-size: 14px;
            }
            .header__logo {
                border-right: none;
                padding: 10px;
            }
            .toggle {
                width: 100%;
                padding: 10px 45px;
                background: white;
                text-align: right;
                box-sizing: border-box;
                font-size: 40px;
            }
            .home-social-all {
                display: flex;
                flex-direction: column;
                filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
            }
            .home-about-us {
                height: auto;
            }
        }
        
        @media screen and (max-width:768px) {
            img.mobil {
                display: block;
            }
            .mobile {
                display: block;
            }
            .desktop {
                display: none;
            }
            .section-gray.reserve {
                flex-direction: column-reverse;
            }
            .product-item-all {
                display: grid;
                grid-template-columns: 1fr;
                /* column-gap: 16px; */
                padding-bottom: 20px;
                row-gap: 15px;
            }
            .footer-all {
                text-align: center;
                flex-direction: column;
            }
            .section-gray {
                display: flex;
                flex-direction: column;
            }
            .section-white {
                display: flex;
                padding-top: 20px;
                padding-bottom: 20px;
                flex-direction: column-reverse;
            }
            .section-gray-text p {
                max-width: 600px;
                margin: auto;
                font-size: 20px;
                padding: 40px;
            }
            .section-white-text p {
                max-width: 600px;
                margin: auto;
                padding: 40px;
                font-size: 19px;
            }
            .footer-all-item_social {
                justify-content: center;
            }
            .footer-all-contact {
                justify-content: center;
            }
            p.footer-title {
                font-size: 25px;
                color: white;
            }
            li.footer {
                color: white;
                font-size: 15px;
                padding: 4px;
                font-weight: 300;
            }
            .footer-all_bottom-links {
                display: flex;
                justify-content: center;
                padding-left: 0px;
            }
            .footer-all_bottom {
                display: flex;
                margin: auto;
                max-width: 1110px;
                color: white;
                flex-direction: column;
                justify-content: center;
            }
            .footer-all_bottom-copyright {
                font-size: 8px;
                padding-left: 0px;
                text-align: center;
            }
            p.footer-links {
                padding: 3px;
                border-right: 1px solid white;
                font-size: 9px;
            }
            .tab-menu li {
                border-right: 1px solid black;
                padding: 0px 20px 0px 0px;
            }
            .tab-menu li a {
                color: #222222;
                text-decoration: none;
                font-size: 13px;
            }
            img.desktop {
                display: none;
            }
        }
        
        @media screen and (max-width:450px) {
            .home-about-us_text h1 {
                font-size: 25px;
            }
            .home-about-us_text p {
                font-size: 15px;
                font-weight: 400;
            }
            .home-social-context p {
                max-width: 600px;
                margin: auto;
                padding: 15px;
                font-weight: 300;
            }
            .tab-menu ul {
                display: flex;
                justify-content: space-evenly;
                max-width: 1000px;
                margin: auto;
                padding: 10px;
                flex-direction: column;
                text-align: center;
            }
            .tab-menu li a {
                color: #222222;
                text-decoration: none;
                font-size: 16px;
                white-space: nowrap;
            }
            .tab-menu li {
                border-right: 1px solid black;
                padding: 20px 5px 0px 2px;
                border: none;
            }
            .section-gray-text p {
                max-width: 600px;
                margin: auto;
                font-size: 15px;
                padding: 25px;
            }
            .section-white-text p {
                max-width: 600px;
                margin: auto;
                padding: 25px;
                font-size: 15px;
            }
        }
        
        @media screen and (max-width:375px) {
            .product-items-all {
                display: grid;
                grid-template-columns: 1fr;
                /* column-gap: 10px; */
                row-gap: 10px;
            }
            .home-about-us_text {
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                max-width: 700px;
                padding: 35px;
            }
        }