.contact-info {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        margin: auto;
    }
    &_title {
        color: #af3a51;
        max-width: 1110px;
        margin: auto;
        h1 {
            font-weight: 300;
        }
        @media screen and (max-width: 425px) {
            font-size: 13px;
            padding: 10px;
        }
    }
    &_items {
        &-image {
            padding-top: 3px;
        }
        &-image img {
            padding: 5px;
        }
        &-desc a {
            text-decoration: none;
            color: black;
            @media screen and (max-width: 425px) {
                font-size: 14px;
            }
        }
    }
    &_item {
        display: flex;
        padding-bottom: 15px;
        align-items: center;
        iframe {
            @media screen and (max-width: 768px) {
                margin: auto;
            }
        }
        @media screen and (max-width: 425px) {
            padding: 10px 10px 15px 10px;
        }
    }
}

.contact-info_items.padding {
    padding: 10px 0px 0px 35px;
}

.contact-info_form {
    max-width: 1110px;
    margin: auto;
    padding-bottom: 70px;
}

.form-error {
    label {
        padding: 6px;
        display: block;
        margin-bottom: 0;
    }
}

.kayitforum {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    .form-item {
        width: 100%;
        padding: 2px;
        display: flex;
    }
    .form-area {
        width: 100%;
        padding: 2px;
    }
    input,
    textarea {
        border: 1px solid #d1d2d4;
        width: 100%;
        font-size: 15px;
        padding: 10px;
        font-family: arial;
        resize: none;
        margin: 2px;
        min-width: inherit;
    }
    textarea {
        height: 80px;
    }
}

input#btnsubmit {
    padding: 10px 40px 10px 40px;
    background-color: #af3a51;
    border: none;
    color: white;
}