@font-face {
    font-family: 'azo';
    src: url('../fonts/rui_abreu_-_azosans-light-webfont.woff2') format('woff2'), url('../fonts/rui_abreu_-_azosans-light-webfont.woff') format('woff'), url('../fonts/rui_abreu_-_azosans-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'azo';
    src: url('../fonts/rui_abreu_-_azosans-bold-webfont.woff2') format('woff2'), url('../fonts/rui_abreu_-_azosans-bold-webfont.woff') format('woff'), url('../fonts/rui_abreu_-_azosans-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'azo';
    src: url('../fonts/rui_abreu_-_azosans-medium-webfont.woff2') format('woff2'), url('../fonts/rui_abreu_-_azosans-medium-webfont.woff') format('woff'), url('../fonts/rui_abreu_-_azosans-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'azo';
    src: url('../fonts/rui_abreu_-_azosans-regular-webfont.woff2') format('woff2'), url('../fonts/rui_abreu_-_azosans-regular-webfont.woff') format('woff'), url('../fonts/rui_abreu_-_azosans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'azo';
    src: url('../fonts/rui_abreu_-_azosans-thin-webfont.woff2') format('woff2'), url('../fonts/rui_abreu_-_azosans-thin-webfont.woff') format('woff'), url('../fonts/rui_abreu_-_azosans-thin-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}