.footer-all {
    display: flex;
    max-width: 1566px;
    margin: auto;
    justify-content: space-evenly;
    a {
        text-decoration: none;
        color: white;
    }
}

p.footer-links.no-border {
    border: none;
}

.footer-all_bottom {
    display: flex;
    margin: auto;
    max-width: 1260px;
    color: white;
    padding-top: 20px;
    justify-content: space-between;
    @media screen and (max-width: 1440px) {
        max-width: 1180px;
    }
}

.footer-all_bottom-logo {
    padding-right: 10px;
}

.footer-all_bottom-links {
    display: flex;
    padding-left: 290px
}

p.footer-links {
    padding: 3px;
    border-right: 1px solid white;
    font-size: 12px;
}

.footer-all_bottom-copyright {
    font-size: 12px;
}

.footer {
    background: #af3a51;
}

p.footer-title {
    font-size: 18px;
    color: white;
}

ul.footer {
    list-style: none;
    padding: 0px;
}

li.footer {
    color: white;
    font-size: 14px;
    padding: 2px;
    font-weight: 300;
    a {
        text-decoration: none;
    }
}

.footer-all-item_social {
    display: flex;
    align-items: center;
}

.footer-all-item_social-desc {
    color: white;
    font-size: 13px;
    padding: 4px;
}

.footer-all-contact {
    display: flex;
    align-items: center;
    a {
        text-decoration: none;
    }
}

p.footer-all-contact {
    color: white;
    margin: 4px;
}

.footer-all-contact_desc {
    padding: 6px;
    a {
        text-decoration: none;
        color: white;
    }
}

.footer-all-contact_image {
    padding-top: 11px;
}

.footer-all-item li {
    padding-bottom: 5px;
}