.header {
    position: relative;
    z-index: 12;
    width: 100%;
    background: #fff;
    border-bottom: 2px solid #dce7e9;
}

.relative {
    position: relative;
}

.header {
    .container-header {
        // max-width: 1566px;
        width: 100%;
        // padding: 10px;
        // padding: 20px 15px 20px 7px;
        margin: auto;
    }
    &__logo {
        border-right: 2px solid #dce7e9;
        padding: 50px;
    }
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__logo {
        img {
            width: 100%;
            display: block;
            // min-width: 210px;
        }
    }
    &__all {
        display: flex;
        // align-items: center;
        flex-direction: column;
        width: 100%;
        // max-width: 1120px;
        background-color: white;
    }
    ul {
        list-style: none;
    }
    &__menu {
        // flex: 1;
        // max-width: 375px;
        width: 100%;
        ;
        @media screen and(max-width: 1024px) {
            max-width: 100%;
        }
        ul.menu-list {
            display: flex;
            list-style: none;
            margin: 0;
            // padding-left: 170px;
            justify-content: flex-end;
            padding-bottom: 30px;
            li.menu-list__item {
                padding: 15px 40px;
                // display: inline-block;
                position: relative;
                ul.menu-drop {
                    display: none;
                }
                &:hover {
                    ul.menu-drop {
                        display: block;
                        a {
                            border: none !important;
                        }
                    }
                }
                a {
                    display: block;
                    padding: 0px;
                    text-align: center;
                    color: #af3a51;
                    font-size: 16px;
                    font-weight: 500;
                    text-decoration: none;
                    border-bottom: 2px solid transparent;
                }
                // ul.menu-drop {
                //     display: none;
                //     position: absolute;
                //     top: 100%;
                //     min-width: 100%;
                //     left: 0;
                //     list-style: none;
                // }
            }
        }
    }
}

.lang {
    a {
        color: white;
    }
}

li.menu-list__item.lang {
    font-weight: bold;
    margin-top: 4px;
}

li.menu-list__item:hover a {
    border-bottom: 2px solid #af3a51 !important;
}

ul.menu-drop>li a {
    display: block !important;
    font-size: 15px !important;
    text-decoration: none !important;
    text-align: left !important; // center di
    font-weight: 400 !important;
    white-space: nowrap !important;
    padding: 5px 10px !important;
}

ul.menu-drop {
    background: #fff !important;
    position: absolute !important;
    display: flex;
    flex-direction: column !important;
    padding: 0 !important;
    left: 25px !important;
    top: 37px;
    li:hover {
        background-color: #0033a059;
    }
}

li.menu-list__item.menu_dropdown {
    padding: 5px 6px !important;
}

.toggle {
    width: 100%;
    padding: 10px 20px;
    background: white;
    text-align: right;
    box-sizing: border-box;
    font-size: 25px;
    display: none;
}

.mobile-menu {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    background-color: white;
    z-index: 13;
    padding-top: 0px;
    &__close {
        width: 100%;
        text-align: right;
        button {
            background: #f5f5f5;
            border: 0;
            padding: 5px 10px;
            font-size: 20px;
            border-radius: 4px;
            line-height: 1;
            color: #555;
            outline: none;
        }
    }
    &.active {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    >ul {
        // height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        li {
            display: block;
            font-size: 15px;
            text-decoration: none;
            padding: 11px 30px;
            color: #af3a51;
            border-radius: 30px;
            border-bottom: 1px solid #af3a51;
            text-align: center;
            a {
                display: block;
                font-size: 15px;
                text-decoration: none;
                // padding: 11px 30px;
                color: #af3a51;
                // border-radius: 30px;
                // border-bottom: 1px solid #0033a0;
                &:hover {
                    color: #6dc9ca;
                }
            }
        }
    }
}

.header__social {
    background: #0033a0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header__social-infos {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.header__social-langs {
    display: flex;
    align-items: center;
    padding-right: 20px
}

p.header-info {
    color: #af3a51;
    border-right: 1px solid white;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 15px;
}

.header__social-all {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    // max-width: 100px;
    margin-right: 0px;
    margin-left: auto;
    margin-bottom: 45px;
    border-bottom: 2px solid #dce7e9;
}

p.header-info.no-border.lang a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.header__social-infos_desc a {
    text-decoration: none;
    color: white;
}

.header__social-infos_desc {
    position: relative;
}

p.header-info.no-border {
    border-right: 0;
}

ul.menu-drop.ilk.lang {
    top: 15px;
    left: 0px !important;
    background: #0033a0 !important;
    display: none;
}

p.header-info.no-border.lang:hover {
    ul.menu-drop.ilk.lang {
        display: block;
    }
}

li.menu-list__item.menu_dropdown.langs {
    color: white;
    font-size: 14px;
    padding: 5px 14px !important;
}

.header__social-lang {
    display: flex;
    align-items: center;
}

.header__social-icon {
    padding: 10px;
    border-right: 2px solid #dce7e9;
    border-left: 2px solid #e5edef;
}

@media screen and (max-width: 1024px) {
    .toggle {
        display: block;
        color: #af3a51;
    }
    ul.menu-list {
        width: 100%;
        display: none;
    }
    ul.menu-list li {
        display: block;
        text-align: center;
    }
    .header .container-header {
        // max-width: 1566px;
        width: 100%;
        // padding: 5px;
        margin: auto;
    }
    .header__all {
        display: block;
        align-items: center;
        flex-direction: column;
        width: 90%;
        max-width: 1120px;
        background-color: white;
    }
    .header__menu ul.menu-list li.menu-list__item {
        padding: 0px 10px;
        display: block;
    }
    .header__menu ul.menu-list {
        display: none;
    }
    .header__social {
        display: none;
    }
    .active {
        display: block;
    }
    .header {
        position: relative;
        z-index: 0 !important;
    }
    .menu-liste {
        display: none;
    }
}