.milestone-container {
    position: relative;
    max-width: 1200px;
    padding: 30px;
    margin: 0 auto;
    // color: #fff;
    // border-top: 1px solid black;
}

.milestone-container:after {
    content: '';
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    pointer-events: none;
    background: #87a1a4;
    z-index: 0;
}

.milestone-container>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
}

.milestone-container>ul>li {
    width: 50%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
    text-align: left;
    z-index: 2;
    @media screen and (max-width: 425px) {
        width: 100%;
    }
}

.milestone-container>ul>li:nth-child(odd) {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: right;
    @media screen and (max-width: 425px) {
        align-items: flex-start;
        text-align: left;
    }
}

.milestone-container>ul>li:nth-child(odd) span:after {
    right: -7px;
}

.milestone-container>ul>li:nth-child(odd)>.milestone-content ul li:after {
    right: 0;
}

.milestone-container>ul>li span {
    font-size: 50px;
    font-weight: bold;
    color: #af3a51;
    position: relative;
    padding: 0 30px;
    z-index: 2;
    margin-right: 7px;
}

.milestone-container>ul>li span:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    border-radius: 0%;
    background: black;
    top: 35px;
    border: none;
}

.mailestone-content {
    padding: 35px;
    @media screen and (max-width: 425px) {
        padding: 15px;
    }
}

.milestone-container>ul>li:nth-child(even) {
    left: 50%;
    margin: 9px;
    @media screen and (max-width: 425px) {
        margin: 0px;
    }
}

.milestone-container>ul>li:nth-child(even) span:after {
    left: -8px;
}

.milestone-container>ul>li:nth-child(even)>.milestone-content ul li:after {
    left: 0px;
}

.milestone-content {
    padding: 0 30px;
    font-weight: 300;
}

.milestone-content ul li {
    position: relative;
    padding: 5px 10px;
    font-size: 17px;
    font-weight: 300;
    color: black;
}

.milestone-content ul li:after {
    content: '';
    position: absolute;
    top: 17px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
}

.milestone-content p {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
}

@media screen and (max-width:425px) {
    .milestone-container>ul>li:nth-child(odd) {
        align-items: flex-start;
        text-align: left;
    }
    .milestone-container>ul>li:nth-child(odd) span:after {
        right: inherit;
        left: 0;
    }
    .milestone-container>ul>li {
        width: 100%;
    }
    .milestone-container>ul>li:nth-child(even) {
        left: 0;
    }
    .milestone-container>ul>li:nth-child(even) span:after {
        left: 0;
    }
    .milestone-container:after {
        right: inherit;
        left: 35px;
    }
    .milestone-content {
        padding: 0 25px;
    }
    .milestone-content ul li {
        font-size: 18px;
    }
    .milestone-container>ul>li span {
        font-size: 26px;
        padding: 0 25px;
    }
    .milestone-container>ul>li:nth-child(odd)>.milestone-content ul li:after {
        right: inherit;
        left: 0;
    }
    .milestone-content ul li:after {
        top: 11px;
    }
    .milestone-container>ul>li span:after {
        top: 7px;
        width: 10px;
        height: 10px;
        border: 2px solid;
    }
}