<?php include 'header.php' ?>
<div class="slider-section">
    <img class="desktop" src="assets/images/about-us-slider.jpg" alt="about us slider">
    <img class="mobil" src="assets/images/about-us-mobil.jpg" alt="about us slider">

</div>
<main>
    <div class="tab-menu">
        <ul>
            <li><a href="about-us">ABOUT US</a></li>
            <li><a href="milestone">MILESTONES</a></li>
            <li><a href="our-mission">OUR MISSION AND COMMITMENTS</a></li>
            <li style="border: none;"><a href="quality-management">QUALITY MANAGEMENT</a></li>
        </ul>
    </div>
    <hr>
    <div class="title-general">
        <h1>ABOUT US</h1>
    </div>
    <section>
        <div class="mobile">
            <div class="section-gray">
                <div class="section-gray-text">
                    <p>Franco Foods entered the food industry with the first steps of the family over 65 years ago, after observing a need for a food solutions provider capable of offering quality food products combined with exceptional service. Located in Izmir, Turkey, Franco Foods offers wide range of products especially on sun dried tomato while supplying an extensive customer base with a wide array of quality food products, Franco Foods always remembers that this business is about people. Honesty, integrity, and hard work, combined with innovation, make Franco Foods </p>
                </div>
                <div class="section-gray-image">
                    <img src="assets/images/about-us-pic1.jpg" alt="">
                </div>
            </div>
            <div class="section-white">
                <div class="section-white-image">
                    <img src="assets/images/about-us-pic2.jpg" alt="">
                </div>
                <div class="section-white-text">
                    <p>Franco’s product line is one of the most extensive in the industry as we offer a wide range of Turkish grown and processed as well as unique products. Our product range includes mainly dried tomatoes, herbs and dried fruits. Our custom-made products are produced in different cuts and specialties according to the desired specifications of our clients. Our R&D team works for the perfect creation of our products. Our products are used in such market segments as Industrial, Retail and Wholesale food service.</p>
                </div>
            </div>
            <div class="section-gray">
                <div class="section-gray-text">
                    <p>With our knowledge and experience based on significant, creative technological advances in tomato production methods, we are able to offer high quality safe products to our clients. Therefore, well-known with its product quality, we have all facilities to offer tailor made products to our clients’ special needs.<br>
                        Our products are especially popular, with many interesting features and benefits for the consumer; all of which are becoming well-known in the market.
                    </p>

                </div>
                <div class="section-gray-image">
                    <img src="assets/images/about-us-pic3.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="desktop">
            <div class="section-gray" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="10" class="aos-init">
                <div class="section-gray-text">
                    <p>Franco Foods entered the food industry with the first steps of the family over 65 years ago, after observing a need for a food solutions provider capable of offering quality food products combined with exceptional service. Located in Izmir, Turkey, Franco Foods offers wide range of products especially on sun dried tomato while supplying an extensive customer base with a wide array of quality food products, Franco Foods always remembers that this business is about people. Honesty, integrity, and hard work, combined with innovation, make Franco Foods </p>
                </div>
                <div class="section-gray-image">
                    <img src="assets/images/about-us-pic1.jpg" alt="">
                </div>
            </div>
            <div class="section-white" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="30" class="aos-init">
                <div class="section-white-image">
                    <img src="assets/images/about-us-pic2.jpg" alt="">
                </div>
                <div class="section-white-text">
                    <p>Franco’s product line is one of the most extensive in the industry as we offer a wide range of Turkish grown and processed as well as unique products. Our product range includes mainly dried tomatoes, herbs and dried fruits. Our custom-made products are produced in different cuts and specialties according to the desired specifications of our clients. Our R&D team works for the perfect creation of our products. Our products are used in such market segments as Industrial, Retail and Wholesale food service.</p>
                </div>
            </div>
            <div class="section-gray" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="50" class="aos-init">
                <div class="section-gray-text">
                    <p>With our knowledge and experience based on significant, creative technological advances in tomato production methods, we are able to offer high quality safe products to our clients. Therefore, well-known with its product quality, we have all facilities to offer tailor made products to our clients’ special needs.<br>
                        Our products are especially popular, with many interesting features and benefits for the consumer; all of which are becoming well-known in the market.
                    </p>

                </div>
                <div class="section-gray-image">
                    <img src="assets/images/about-us-pic3.jpg" alt="">
                </div>
            </div>



    </section>
</main>


<?php include 'footer.php' ?>