<?php include 'header.php' ?>
<div class="slider-section">
    <img src="assets/images/contact-slider.jpg" alt="contact slider">
</div>
<main>
    <section>
        <div class="contact-info_title">
            <h1>CONTACT INFORMATION</h1>
        </div>
        <div class="contact-info">

            <div class="contact-info_items">
                <div class="contact-info_item">
                    <div class="contact-info_items-image">
                        <img src="assets/images/location-icon-red.png" alt="location icon">
                    </div>
                    <div class="contact-info_items-desc">
                        <a href="https://www.google.com.tr/maps/dir//%C4%B0zmir/@38.4178607,26.9396341,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x14bbd862a762cacd:0x628cbba1a59ce8fe!2m2!1d27.142826!2d38.423734">İZMİR / TURKEY</a>
                    </div>
                </div>
                <div class="contact-info_item">
                    <div class="contact-info_items-image">
                        <img src="assets/images/tel-icon-red.png" alt="telephone icon">
                    </div>
                    <div class="contact-info_items-desc">
                        <a href="tel://+9023242149300">+90 232 421 49 30 (extensions: 117 & 119)</a>

                    </div>
                </div>
                <div class="contact-info_item">
                    <div class="contact-info_items-image">
                        <img src="assets/images/mobile-icon.png" alt="mobile icon">
                    </div>
                    <div class="contact-info_items-desc">
                        <a href="tel://+905462365010">+90 533 370 19 22</a>

                    </div>
                </div>
                <div class="contact-info_item">
                    <div class="contact-info_items-image">
                        <img src="assets/images/fax-icon-red.png" alt="fax iconu">
                    </div>
                    <div class="contact-info_items-desc">
                        <a href="tel://+902324636770">+90 232 463 67 70</a>

                    </div>
                </div>


            </div>
            <div class="contact-info_items padding">
                <div class="contact-info_item">
                    <div class="contact-info_items-image">
                        <img src="assets/images/mail-icon-red.png" alt="red mail iconu">
                    </div>
                    <div class="contact-info_items-desc">
                        <a href="mailto:info@francofoods.com">info@francofoods.com</a>
                    </div>
                </div>
                <div class="contact-info_item">
                    <div class="contact-info_items-image">
                        <img src="assets/images/mail-icon-red.png" alt="red mail iconu">
                    </div>
                    <div class="contact-info_items-desc">
                        <a href="mailto:sales@francofoods.com">sales@francofoods.com</a>
                    </div>
                </div>
                <div class="contact-info_item">
                    <div class="contact-info_items-image">
                        <img src="assets/images/mail-icon-red.png" alt="red mail iconu">
                    </div>
                    <div class="contact-info_items-desc">
                        <a href="mailto:marketing@francofoods.com">marketing@francofoods.com</a>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <section>
        <div class="contact-info_title">
            <h1>CONTACT FORM</h1>
        </div>

        <div class="contact-info_form">
            <form class="kayitforum" method="POST" novalidate>
                <div class="form-item">
                    <input class="formalani1" type="text" name="name" placeholder="Name" required />
                    <input class="formalani1" type="text" name="lastname" placeholder="Surname" required />
                </div>

                <div class="form-item">
                    <input class="formalani1 phone-mask" id="yourphone" type="text" name="phone" placeholder="Phone" maxlength="11">
                    <input class="formalani1" type="text" name="email" placeholder="E-Mail">
                </div>


                <div class="form-item form-area">
                    <textarea class="formalani3" name="message" placeholder="Message"></textarea>
                </div>
                <div class="form-button">
                    <input type="submit" id="btnsubmit" value="Send">
                </div>
                <div class="form-error">
                    <label></label>
                </div>
            </form>
        </div>

    </section>

</main>


<?php include 'footer.php' ?>