<?php include 'header.php' ?>
<div class="slider-section">
    <img class="desktop" src="assets/images/dried-fruit-slider.jpg" alt="dried fruit slider">
    <img class="mobil" src="assets/images/dried-fruit-mobil.jpg" alt="dried fruit slider">

</div>
<main>
    <section>
        <div class="title-general">
            <h1>DRIED FRUITS</h1>
        </div>
        <div class="product-item-all">
        <div class="products-items">
            <div class="products-items-images">
                <img src="assets/images/dried-apricot.jpg" alt="dried-apricot">
                <div class="products-items-title">
                <p>Dried Apricot</p>
            </div>
            </div>
            
        </div>
        <div class="products-items">
            <div class="products-items-images">
                <img src="assets/images/dried-fig.jpg" alt="dried-fig">
                <div class="products-items-title">
                <p>Dried Fig</p>
            </div>
            </div>
            
        </div>
        </div>
       
    </section>
</main>


<?php include 'footer.php' ?>