<?php include 'header.php' ?>
<div class="slider-section">
    <img class="desktop" src="assets/images/high-moistured-slider.jpg" alt="high-moistured slider">
    <img class="mobil" src="assets/images/high-moistured-mobil.jpg" alt="high-moistured slider">

</div>
<main>
    <div class="tab-menu">
        <ul>
            <li><a href="standard-moistured">STANDARD MOISTURED</a></li>
            <li><a href="high-moistured">HIGH MOISTURED</a></li>
            <li><a href="semi-dried">SEMI DRIED</a></li>
            <li><a href="marinated">MARINATED</a></li>

            <li style="border: none;"><a href="industrials">INDUSTRIALS</a></li>
        </ul>
    </div>
    <hr>
    <div class="title-general">
        <h1>HIGH MOUSTURED</h1>
    </div>
    <section>
        <div class="product-item-all">
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/rte-halves.jpg" alt="rte-halves">
                    <div class="products-items-title">
                        <p>RTE Halves</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/rte-julienne-cut.jpg" alt="rte-julienne-cut">
                    <div class="products-items-title">
                        <p>RTE Julienne Cut</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/rte-diced.jpg" alt="rte-diced">
                    <div class="products-items-title">
                        <p>RTE Diced</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/rte-chopped.jpg" alt="rte-chopped">
                    <div class="products-items-title">
                        <p>RTE Chopped</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>


<?php include 'footer.php' ?>