<?php include 'header.php' ?>
<div class="slider-section">
<img class="desktop" src="assets/images/industrial-slider.jpg" alt="industrial slider">
<img class="mobil" src="assets/images/industrials-mobil.jpg" alt="industrial slider">

</div>
<main>
<div class="tab-menu">
        <ul>
            <li><a href="standard-moistured">STANDARD MOISTURED</a></li>
            <li><a href="high-moistured">HIGH MOISTURED</a></li>
            <li><a href="semi-dried">SEMI DRIED</a></li>
            <li><a href="marinated">MARINATED</a></li>

            <li style="border: none;"><a href="industrials">INDUSTRIALS</a></li>
        </ul>
    </div>
    <hr>
    <div class="title-general">
        <h1>INDUSTRIALS</h1>
    </div>
    <section>
        <div class="product-item-all">
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/powder.jpg" alt="powder">
                    <div class="products-items-title">
                        <p>Powder</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/granules.jpg" alt="Granules">
                    <div class="products-items-title">
                        <p>Granules</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/pellets.jpg" alt="pellests">
                    <div class="products-items-title">
                        <p>Pellets</p>
                    </div>
                </div>

            </div>
          
        </div>
    </section>


</main>
<?php include 'footer.php' ?>