<?php include 'header.php' ?>
<div class="container-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="desktop" src="assets/images/slider-gorsel.jpg">
                <img class="mobil" src="assets/images/slider-gorsel-mobil.jpg">

            </div>
            <div class="swiper-slide">
                <img class="desktop" src="assets/images/slider-gorsel2.jpg">
                <img class="mobil" src="assets/images/slider-gorsel-mobil2.jpg">
            </div>
            <div class="swiper-slide">
                <img class="desktop" src="assets/images/slider-gorsel3.jpg">
                <img class="mobil" src="assets/images/slider-gorsel-mobil3.jpg">
            </div>
            <div class="swiper-slide">
                <img class="desktop" src="assets/images/slider-gorsel4.jpg">
                <img class="mobil" src="assets/images/slider-gorsel-mobil4.jpg">
            </div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
<main>
    <section>
        <div class="mobile">
            <div class="home-about-us">
                <div class="home-about-us_text">
                    <h1>TO OFFER THE BEST<br>
                        QUALITY CONSISTENTLY</h1>
                    <p>Our expertise gained over 60 years in the industry,
                        supplying both branded and private labeled products to retail,
                        catering and manufacturing markets enable Franco Foods
                        to maintain it highly appreciated reputation.</p>
                    <a href="about-us">Read More</a>
                </div>

            </div>
        </div>
        <div class="desktop">
        <div class="home-about-us" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" class="aos-init">
            <div class="home-about-us_text">
                <h1>TO OFFER THE BEST<br>
                    QUALITY CONSISTENTLY</h1>
                <p>Our expertise gained over 60 years in the industry,
                    supplying both branded and private labeled products to retail,
                    catering and manufacturing markets enable Franco Foods
                    to maintain it highly appreciated reputation.</p>
                <a href="about-us">Read More</a>
            </div>

        </div>
        </div>
        
    </section>
    <section>
        <div class="title-general">
            <h1>WIDE RANGE OF PRODUCTS ON SUNDRIED TOMATO</h1>
        </div>
        <div class="product-items-all">
            <a href="standard-moistured">
                <div class="product-item">
                    <div class="product-item-image">
                        <img src="assets/images/standard-moist.jpg" alt="standard moist">
                    </div>
                    <div class="product-item-title">
                        <p>STANDARD MOIST</p>
                    </div>
                </div>
            </a>
            <a href="high-moistured">
                <div class="product-item">
                    <div class="product-item-image">
                        <img src="assets/images/high-moistured.jpg" alt="high-moistured">
                    </div>
                    <div class="product-item-title">
                        <p>HIGH MOISTURED</p>
                    </div>
                </div>
            </a>
            <a href="semi-dried">
                <div class="product-item">
                    <div class="product-item-image">
                        <img src="assets/images/semi-dried.jpg" alt="semi-dried">
                    </div>
                    <div class="product-item-title">
                        <p>SEMI DRIED</p>
                    </div>
                </div>
            </a>
            <a href="marinated">
                <div class="product-item">
                    <div class="product-item-image">
                        <img src="assets/images/marinated.jpg" alt="marinated">
                    </div>
                    <div class="product-item-title">
                        <p>MARINATED</p>
                    </div>
                </div>
            </a>

        </div>
    </section>


    <section>
        <div class="home-social">
            <div class="home-social-all">
                <div class="home-social-image">
                    <img src="assets/images/linkedin-image.jpg" alt="linkedin images">
                </div>
                <div class="home-social-context">
                    <h1>FOLLOW US ON LINKEDIN</h1>
                    <p>You can follow our LinkedIn page to see all the news and updates on our business and industry.</p>
                    <a href="https://www.linkedin.com/company/franco-foods-s-a/">Follow</a>
                </div>
            </div>
        </div>
    </section>

</main>



<?php include 'footer.php' ?>