<?php include 'header.php' ?>
<div class="slider-section">
    <img class="desktop" src="assets/images/marinated-slider.jpg" alt="marinated slider">
    <img class="mobil" src="assets/images/marinated-slider.jpg" alt="marinated slider">

</div>
<main>
    <div class="tab-menu">
        <ul>
            <li><a href="standard-moistured">STANDARD MOISTURED</a></li>
            <li><a href="high-moistured">HIGH MOISTURED</a></li>
            <li><a href="semi-dried">SEMI DRIED</a></li>
            <li><a href="marinated">MARINATED</a></li>

            <li style="border: none;"><a href="industrials">INDUSTRIALS</a></li>
        </ul>
    </div>
    <hr>
    <div class="title-general">
        <h1>MARINATED</h1>
    </div>
    <section>
        <div class="product-item-all">
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/marinated-paste.jpg" alt="marinated paste">
                    <div class="products-items-title">
                        <p>Marinated Paste</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/marinated-halves-spices.jpg" alt="marinated-halves-spices">
                    <div class="products-items-title">
                        <p>Marinated Halves with Spices</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/marinated-halves.jpg" alt="marinated halves">
                    <div class="products-items-title">
                        <p>Marinated Halves</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/marinated-strips.jpg" alt="marinated-strips">
                    <div class="products-items-title">
                        <p>Marinated Strips with Olives</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/bruschetta.jpg" alt="bruschetta">
                    <div class="products-items-title">
                        <p>Bruschetta</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/marinated-quarters.jpg" alt="marinated quarters">
                    <div class="products-items-title">
                        <p>Marinated Quarters</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>


<?php include 'footer.php' ?>