<?php include 'header.php' ?>
<div class="slider-section">
    <img class="desktop" src="assets/images/milestone-slider.jpg" alt="milestone slider">
    <img class="mobil"src="assets/images/milestone-mobil.jpg" alt="milestone slider">

</div>
<main>
    <div class="tab-menu">
        <ul>
            <li><a href="about-us">ABOUT US</a></li>
            <li><a href="milestone">MILESTONES</a></li>
            <li><a href="our-mission">OUR MISSION AND COMMITMENTS</a></li>
            <li style="border: none;"><a href="quality-management">QUALITY MANAGEMENT</a></li>
        </ul>
    </div>
    <hr>
    <div class="title-general">
        <h1>MILESTONES</h1>
    </div>
    <section>
        <div class="section-gray">
            <div class="section-gray-text">
                <p>Based on familly tradition for many generations, for over 65 years, Franco Familly, has been dealing with dried tomatoes, figs, apricots, spices and herbs in Turkey with pride and integrity. In 2014, company named Franco Foods with the change in the shareholding structure. Ever since, Franco Foods continue to cater to the high food market, including international wholesalers, food services and retailers with finest quality products grown in Turkey. Franco Foods serves wholesale and food processing companies by producing special products to their needs.
                </p>
            </div>
            <div class="section-gray-image">
                <img src="assets/images/milestone-imgone.jpg" alt="milestone-imgone">
            </div>
        </div>
        <div class="section-gray reserve">
            <div class="section-gray-image">
                <img src="assets/images/milestone-imgtwo.jpg" alt="milestone-imgtwo">
            </div>
            <div class="section-gray-text">
                <p>With our knowledge and experiance, based on significant, creative technological advances in tomato production methods, we are able to offer high quality, safe products to our clients. Therefore, well-known with its product quality, we have all facilities to offer tailer made products to our client’s special needs

                </p>
            </div>

        </div>
        <div class="milestone-container">

            <ul>
                <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="10" class="aos-init">
                    <span>1952</span>
                    <div class="mailestone-content">
                        <ul>
                            <li>Fratelli Franco company established by Franco brothers;</li>
                            <li>Giuseppe and Davide</li>
                           
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="30" class="aos-init">
                    <span>1953</span>
                    <div class="mailestone-content">
                        <ul>
                            <li>Shortly after losing his brother Davide, Giuseppe Franco,</li>
                            <li>established new company Franco Foods</li>
                            <li>with his son Maurice Franco</li>
                           

                        </ul>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="50" class="aos-init">
                    <span>1990</span>
                    <div class="mailestone-content">
                        <ul>
                            <li>Maurice started to work in the familly business</li>
                           
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="70" class="aos-init">
                    <span>1998</span>
                    <div class="mailestone-content">
                        <ul>
                            <li>ISO Quality Systems have been implemented;</li>
                            <li>Franco company was the first</li>
                            <li>Dried Food company in the industry to implement</li>
                            <li>ISO quality system in Turkey</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="90" class="aos-init">
                    <span>2000</span>
                    <div class="mailestone-content">
                        <ul>
                        <li>New products added to the production line</li>
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="110" class="aos-init">
                    <span>2014</span>
                    <div class="mailestone-content">
                        <ul>
                            <li>Franco Foods company established to continue the traditions of</li>
                            <li>Franco Family after the loss of family elders</li>

                           
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="130" class="aos-init">
                    <span>2015-2016</span>
                    <div class="mailestone-content">
                        <ul>
                            <li>Franco Foods company established to continue the traditions of</li>
                           
                            
                        </ul>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="150" class="aos-init">
                    <span>2017-2020</span>
                    <div class="mailestone-content">
                        <ul>
                            <li>Since than company continuing its high quality</li>
                            <li>businesses by fallowing Franco Familie’s values</li>
                          
                        </ul>
                    </div>
                </li>

            </ul>
        </div>


    </section>
</main>


<?php include 'footer.php' ?>