<?php include 'header.php' ?>
<div class="slider-section">
    <img class="desktop" src="assets/images/our-missions-slider.jpg" alt="our mission slider">
    <img class="mobil" src="assets/images/missions-mobil.jpg" alt="our mission slider">

</div>
<main>
    <div class="tab-menu">
        <ul>
            <li><a href="about-us">ABOUT US</a></li>
            <li><a href="milestone">MILESTONES</a></li>
            <li><a href="our-mission">OUR MISSION AND COMMITMENTS</a></li>
            <li style="border: none;"><a href="quality-management">QUALITY MANAGEMENT</a></li>
        </ul>
    </div>
    <hr>
    <div class="title-general">
        <h1>OUR MISSION</h1>
    </div>
    <div class="mobile">
        <div class="section-gray">
            <div class="section-gray-text">
                <p>Best quality ingredient provider with Commitment, Integrity, Innovation, Creativity, Hard Work, Consistency, Sustainability, Personal Attention, Honesty, and Customized Solutions to every customer and every supplier every day without fail.
                </p>
            </div>
            <div class="section-gray-image">
                <img src="assets/images/our-missions-imgone.jpg" alt="ourmission-imgone">
            </div>
        </div>
    </div>
    <div class="desktop">
    <div class="section-gray" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="10" class="aos-init">
        <div class="section-gray-text">
            <p>Best quality ingredient provider with Commitment, Integrity, Innovation, Creativity, Hard Work, Consistency, Sustainability, Personal Attention, Honesty, and Customized Solutions to every customer and every supplier every day without fail.
            </p>
        </div>
        <div class="section-gray-image">
            <img src="assets/images/our-missions-imgone.jpg" alt="ourmission-imgone">
        </div>
    </div>
    </div>
    
    <div class="title-general">
        <h1>OUR COMMITMENT</h1>
    </div>
    <div class="mobile">
        <div class="our-commitment">
            <div class="our-commitment-all">
                <div class="our-commitment_item">
                    <div class="our-commitment_item-image" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="10" class="aos-init">
                        <img src="assets/images/our-company-icon.png" alt="our company">
                    </div>

                    <div class="our-commitment_item-context">
                        <p><strong>OUR COMPANY</strong></p>
                        <p>Franco Familly started producing high quality dried products in 1952 under the name of Fratelli Franco, today continuing with the developed FRANCO QUALİTY PHYLOSOPHY by Maurice Franco under the name of FRANCO FOODS.</p>
                        <p>FRANCO FOODS committed to constant improvements. In order to achive this, we concentarte in these areas.</p>
                    </div>
                </div>
                <div class="our-commitment_item">
                    <div class="our-commitment_item-image" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="10" class="aos-init">
                        <img src="assets/images/our-quality-icon.png" alt="our quality">
                    </div>

                    <div class="our-commitment_item-context">
                        <p><strong>OUR QUALITY</strong></p>
                        <p>Our Products are producing by taking all precautions to ensure that it is produced and distributed using good manifacturing practices by guiding to BRC and HACCP necessities under most possible hygienic and Safe Conditions.
                        </p>
                    </div>
                </div>
                <div class="our-commitment_item">
                    <div class="our-commitment_item-image" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="10" class="aos-init">
                        <img src="assets/images/our-staff-icon.png" alt="our stuff">
                    </div>

                    <div class="our-commitment_item-context">
                        <p><strong>OUR STUFF</strong></p>
                        <p>as important to us as customers is our staff. No matter what task is undertaken, we understand that only the best will do. Traning at all levels helps us realize this goal.
                        </p>
                    </div>
                </div>
                <div class="our-commitment_item">
                    <div class="our-commitment_item-image" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="10" class="aos-init">
                        <img src="assets/images/our-system-icon.png" alt="our system">
                    </div>

                    <div class="our-commitment_item-context">
                        <p><strong>OUR SYSTEM</strong></p>
                        <p>so that we produce as near constant products as possible, in accordance with FRANCO QUALİTY SYSTEM, we use BRC and HACCP protocols to ensure that we produce safe products.</p>
                    </div>
                </div>
            </div>
            <div class="our-commitment-all">
                <div class="our-commitment_item">
                    <div class="our-commitment_item-image" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="10" class="aos-init">
                        <img src="assets/images/raw-materials-icon.png" alt="raw materials">
                    </div>

                    <div class="our-commitment_item-context">
                        <p><strong>RAW MATERIALS</strong></p>
                        <p>In order to produce an excellent product, we must have the best raw material. Our product buyers have long experiences not only in selecting, but also in advising growers of what they can do to improve their products.</p>

                    </div>
                </div>
                <div class="our-commitment_item">
                    <div class="our-commitment_item-image" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="10" class="aos-init">
                        <img src="assets/images/our-factory-icon.png" alt="our quality">
                    </div>

                    <div class="our-commitment_item-context">
                        <p><strong>OUR FACTORY</strong></p>
                        <p>This has changed much since the beginning. Using BRC and HACCP systems, our building and its surrounds are subject to close constant review. Even small changes, means that risks to the product are minimized.
                        </p>
                    </div>
                </div>
                <div class="our-commitment_item">
                    <div class="our-commitment_item-image" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="10" class="aos-init">
                        <img src="assets/images/constant-improvements.png" alt="constant-improvements">
                    </div>

                    <div class="our-commitment_item-context">
                        <p><strong>CONSTANT IMPROVEMENTS</strong></p>
                        <p>According to the Franco Quality this is one of our main aims; we understand that it is many small improvements in all areas that really contribute to improvement rather than a single quantum leap in standards. FRANCO QUALİTY PHYLOSOPHY is dedicated to improvements wherever they can be made.
                        </p>
                    </div>
                </div>
                <div class="our-commitment_item">
                    <div class="our-commitment_item-image" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="10" class="aos-init">
                        <img src="assets/images/customer-care-icon.png" alt="our system">
                    </div>

                    <div class="our-commitment_item-context">
                        <p><strong>CUSTOMER CARE</strong></p>
                        <p>Customers satisfaction very important, they are our partners. By constant dialogue with our customers, we aim to find and supply their exact needs to help them to find new noval ways to use our </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="desktop">
        <div class="our-commitment">
            <div class="our-commitment-all">
                <div class="our-commitment_item">
                    <div class="our-commitment_item-image">
                        <img src="assets/images/our-company-icon.png" alt="our company">
                    </div>

                    <div class="our-commitment_item-context">
                        <p><strong>OUR COMPANY</strong></p>
                        <p>Franco Familly started producing high quality dried products in 1952 under the name of Fratelli Franco, today continuing with the developed FRANCO QUALİTY PHYLOSOPHY by Maurice Franco under the name of FRANCO FOODS.</p>
                        <p>FRANCO FOODS committed to constant improvements. In order to achive this, we concentarte in these areas.</p>
                    </div>
                </div>
                <div class="our-commitment_item">
                    <div class="our-commitment_item-image">
                        <img src="assets/images/our-quality-icon.png" alt="our quality">
                    </div>

                    <div class="our-commitment_item-context">
                        <p><strong>OUR QUALITY</strong></p>
                        <p>Our Products are producing by taking all precautions to ensure that it is produced and distributed using good manifacturing practices by guiding to BRC and HACCP necessities under most possible hygienic and Safe Conditions.
                        </p>
                    </div>
                </div>
                <div class="our-commitment_item">
                    <div class="our-commitment_item-image">
                        <img src="assets/images/our-staff-icon.png" alt="our stuff">
                    </div>

                    <div class="our-commitment_item-context">
                        <p><strong>OUR STUFF</strong></p>
                        <p>as important to us as customers is our staff. No matter what task is undertaken, we understand that only the best will do. Traning at all levels helps us realize this goal.
                        </p>
                    </div>
                </div>
                <div class="our-commitment_item">
                    <div class="our-commitment_item-image">
                        <img src="assets/images/our-system-icon.png" alt="our system">
                    </div>

                    <div class="our-commitment_item-context">
                        <p><strong>OUR SYSTEM</strong></p>
                        <p>so that we produce as near constant products as possible, in accordance with FRANCO QUALİTY SYSTEM, we use BRC and HACCP protocols to ensure that we produce safe products.</p>
                    </div>
                </div>
            </div>
            <div class="our-commitment-all">
                <div class="our-commitment_item">
                    <div class="our-commitment_item-image">
                        <img src="assets/images/raw-materials-icon.png" alt="raw materials">
                    </div>

                    <div class="our-commitment_item-context">
                        <p><strong>RAW MATERIALS</strong></p>
                        <p>In order to produce an excellent product, we must have the best raw material. Our product buyers have long experiences not only in selecting, but also in advising growers of what they can do to improve their products.</p>

                    </div>
                </div>
                <div class="our-commitment_item">
                    <div class="our-commitment_item-image">
                        <img src="assets/images/our-factory-icon.png" alt="our quality">
                    </div>

                    <div class="our-commitment_item-context">
                        <p><strong>OUR FACTORY</strong></p>
                        <p>This has changed much since the beginning. Using BRC and HACCP systems, our building and its surrounds are subject to close constant review. Even small changes, means that risks to the product are minimized.
                        </p>
                    </div>
                </div>
                <div class="our-commitment_item">
                    <div class="our-commitment_item-image">
                        <img src="assets/images/constant-improvements.png" alt="constant-improvements">
                    </div>

                    <div class="our-commitment_item-context">
                        <p><strong>CONSTANT IMPROVEMENTS</strong></p>
                        <p>According to the Franco Quality this is one of our main aims; we understand that it is many small improvements in all areas that really contribute to improvement rather than a single quantum leap in standards. FRANCO QUALİTY PHYLOSOPHY is dedicated to improvements wherever they can be made.
                        </p>
                    </div>
                </div>
                <div class="our-commitment_item">
                    <div class="our-commitment_item-image">
                        <img src="assets/images/customer-care-icon.png" alt="our system">
                    </div>

                    <div class="our-commitment_item-context">
                        <p><strong>CUSTOMER CARE</strong></p>
                        <p>Customers satisfaction very important, they are our partners. By constant dialogue with our customers, we aim to find and supply their exact needs to help them to find new noval ways to use our </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <?php include 'footer.php' ?>




</main>