<?php include 'header.php' ?>
<div class="slider-section">
    <img class="desktop" src="assets/images/quality-management-slider.jpg" alt="quality management slider">
    <img class="mobil" src="assets/images/quality-mobil.jpg" alt="quality management slider">

</div>
<main>
    <div class="tab-menu">
        <ul>
            <li><a href="about-us">ABOUT US</a></li>
            <li><a href="milestone">MILESTONES</a></li>
            <li><a href="our-mission">OUR MISSION AND COMMITMENTS</a></li>
            <li style="border: none;"><a href="quality-management">QUALITY MANAGEMENT</a></li>
        </ul>
    </div>
    <hr>
    <div class="title-general">
        <h1>QUALITY MANAGEMENT</h1>
    </div>
    <section>
      
       
            <div class="section-gray">
                <div class="section-gray-text">
                    <p>Franco Foods prides itself being certified by BRCGS* food safety standards since 2016; Franco products stand out from the competition in quality and uniqueness, and differentiate from other producers in the industry;<br>• We oversee the production from the fields through to packing for export;<br>
                        • Our products have been producing by taking all precautions to ensure they are produced and distributed using good manufacturing practices under hygienic and safe conditions<br>
                        • We use high standard state of the art laboratory<br><strong>By taking those steps, we are able to guarantee the quality of our products;</strong><br>• Natural colour<br>• Homogeneous sizes and moisture level<br>• Processing innovations guaranteeing a clean and safe product<br>* <strong>BRCGS</strong> is regarded as the benchmark for best practice in the food industry not just in the UK, but across the world.</p>


                </div>
                <div class="section-gray-image">
                    <img src="assets/images/quality-management-img.jpg" alt="">
                </div>
            </div>
      



    </section>
</main>


<?php include 'footer.php' ?>