<?php include 'header.php' ?>
<div class="slider-section">
    <img class="desktop" src="assets/images/semi-dried-slider.jpg" alt="semi-dried slider">
    <img class="mobil" src="assets/images/semi-dried-mobil.jpg" alt="semi-dried slider">

</div>
<main>
    <div class="tab-menu">
        <ul>
            <li><a href="standard-moistured">STANDARD MOISTURED</a></li>
            <li><a href="high-moistured">HIGH MOISTURED</a></li>
            <li><a href="semi-dried">SEMI DRIED</a></li>
            <li><a href="marinated">MARINATED</a></li>

            <li style="border: none;"><a href="industrials">INDUSTRIALS</a></li>
        </ul>
    </div>
    <hr>
    <div class="title-general">
        <h1>SEMI DRIED</h1>
    </div>
    <section>
        <div class="product-item-all">
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/sun-semi-quarters.jpg" alt="sun-semi-quarters">
                    <div class="products-items-title">
                        <p>Sun Semi Quartes</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/sun-semi-chopped.jpg" alt="sun-semi-chopped">
                    <div class="products-items-title">
                        <p>Sun Semi Chopped</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/oven-semi-quarters.jpg" alt="oven-semi-quarters">
                    <div class="products-items-title">
                        <p>Oven Semi Quarters</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/oven-semi-marinated-quarters.jpg" alt="oven-semi-marinated-quarters">
                    <div class="products-items-title">
                        <p>Oven Semi Marinated Quarters</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/oven-semi-chopped.jpg" alt="oven-semi-chopped">
                    <div class="products-items-title">
                        <p>Oven Semi Chopped</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/oven-semi-cherry-halves.jpg" alt="oven-semi-cherry-halves">
                    <div class="products-items-title">
                        <p>Oven Semi Cherry Halves</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/oven-semi-cherry-marinated-halves.jpg" alt="oven-semi-cherry-halves">
                    <div class="products-items-title">
                        <p>Oven Semi Cherry Marinated Halves</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>


<?php include 'footer.php' ?>