<?php include 'header.php' ?>
<div class="slider-section">
    <img class="desktop" src="assets/images/spicies-and-herbs-slider.jpg" alt="spicies-and-herbs">
    <img class="mobil" src="assets/images/spicies-and-herbs-mobil.jpg" alt="spicies-and-herbs">

</div>
<main>
  
    <div class="title-general">
        <h1>SPICES AND HERBS</h1>
    </div>
    <section>
        <div class="product-item-all">
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/bay-leave.jpg" alt="bay-leave">
                    <div class="products-items-title">
                        <p>Bay Leaves</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/oregan.jpg" alt="oregan">
                    <div class="products-items-title">
                        <p>Oregano</p>
                    </div>
                </div>

            </div>
          

        </div>
    </section>


</main>
<?php include 'footer.php' ?>