<?php include 'header.php' ?>
<div class="slider-section">
    <img class="desktop" src="assets/images/standard-moistured-slider.jpg" alt="standard-moistured slider">
    <img class="mobil" src="assets/images/standard-moistured-mobil.jpg" alt="standard-moistured slider">

</div>
<main>
    <div class="tab-menu">
        <ul>
            <li><a href="standard-moistured">STANDARD MOISTURED</a></li>
            <li><a href="high-moistured">HIGH MOISTURED</a></li>
            <li><a href="semi-dried">SEMI DRIED</a></li>
            <li><a href="marinated">MARINATED</a></li>

            <li style="border: none;"><a href="industrials">INDUSTRIALS</a></li>
        </ul>
    </div>
    <hr>
    <div class="title-general">
        <h1>STANDART MOISED</h1>
    </div>
    <section>
        <div class="product-item-all">
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/sdt-halves.jpg" alt="sdt-halves">
                    <div class="products-items-title">
                        <p>STD Halves</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/sdt-julienne-cut.jpg" alt="std-julienne-cut">
                    <div class="products-items-title">
                        <p>SDT Julienne Cut</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/sdt-diced.jpg" alt="std-diced">
                    <div class="products-items-title">
                        <p>STD Diced</p>
                    </div>
                </div>

            </div>
            <div class="products-items">
                <div class="products-items-images">
                    <img src="assets/images/sdt-chopped.jpg" alt="std-chopped">
                    <div class="products-items-title">
                        <p>STD Chopped</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>


<?php include 'footer.php' ?>