<div style="padding:20px; border:2px solid #eee; border-radius:5px; max-width:600px; ">
	<table cellpadding="0" cellspacing="0" border="0" style="width:100%; font-family:arial; color:#444444; font-size:16px;">
	
		<tr>
			<td style="border-top:1px solid #eee; border-bottom:1px solid #eee; font-size:14px;">
				<p>
					<b>Franco Foods</b>
					internet sitesi üzerinden doldurulan form tarafınıza ulaştırılmıştır. Aşağıda kullanıcıya ait bilgi ve mesajı bulabilirsiniz.</p>
			</td>
		</tr>
		<tr>
			<td style="font-size:14px;">
				<p>
					<b>KULLANICI BİLGİLERİ</b>
				</p>
				<table border="0">
					<tr>
						<td>
							<b>Adı :</b>
						</td>
						<td>{name}</td>
					</tr>
					<tr>
						<td>
							<b>Soyadı :
							</b>
						</td>
						<td>{lastname}</td>
					</tr>
					<tr>
						<td>
							<b>Email :</b>
						</td>
						<td>{email}</td>
					</tr>
					<tr>
						<td>
							<b>Telefon :</b>
						</td>
						<td>{phone}</td>
					</tr>
					<tr>
						<td>
							<b>Mesaj :</b>
						</td>
						<td>{message}</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div></body></html>
